.show-links
  %ul
    %li= link_to image_tag ('/images/icon_small_larrow.png', :border => 0) + ' back to events', admin_events_path
    %li= link_to image_tag ('/images/icon_small_edit.png', :border => 0) + ' edit', edit_admin_event_path(@events)
    %li= link_to image_tag ('/images/icon_small_delete.png', :border => 0) + ' delete', admin_event_path(@events), :confirm => 'Are you sure you want to delete #{@article.title}?', :method => :delete