.title Products

.sidebar-links
  .spacer
  .link= link_to 'Ice Cream', products_ice_cream_url
  .spacer
  .link= link_to 'Crepes', products_crepes_url
  .spacer
  .link= link_to 'Other', products_others_url
  .spacer