#container
  = render :partial => 'global/header'
  #main
    #content
      .title Crepe Flavors
    #sidebar
      = render :partial => 'products/partials/sidebar_links'
  = render :partial => 'global/footer'
