.title Home

.sidebar-links
  .spacer
  .link= link_to 'General Info', general_info_url, :title => 'General site info'
  .spacer
  .link= link_to 'News', news_path, :title => 'Real Stuff news'
  .spacer
  .link= link_to 'Events', events_path, :title => 'Real Stuff event listings'
  .spacer
  .link= link_to 'Media', media_path, :title => 'Real Stuff media'
  .spacer