body {
	background-image: url(/images/background.png);
}

.header {
	background: #CCC;
	width: 1100px;
	height: 150px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 0px auto 0px auto;
}

.logo {
	float: left;
	margin-left: 20px;
	width: 30%;

}

.right-area {
	float: right;
	width: 60%;
	height: 150px;
}

.page-title {
	font-family: 'Coming Soon', sans-serif;
	text-align: center;
	float: left;
	width: 300px;
	height: 70px;
	line-height: .2em;
	vertical-align: middle;
	font-size: 3.2em;
}

.top-container {
	height: 85px;
	width: 100%;
}

.logout {
	width: 50%;
	float: right;
	height: 30px;
	font-size: 1.2em;
	text-align: right;
	margin-right: 20px;
	font-family: 'Coming Soon', sans-serif;
	
}

.links {
	height: 50px;
	background: #69523D;
	-moz-border-radius: 10px 0px 10px 0px;
	text-align: center;
}

.links ul {
	list-style-type: none;
}

.links li {
	display: inline;
	font-size: 2em;
	font-family: 'Schoolbell', sans-serif;
	color: white;
	margin-right: 40px;
	line-height: 1.8em;
	vertical-align: middle;
}

.form {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

a {
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px 4px #555;
}

a:hover {
	color: #777;
}

.main {
	width: 1100px;
	background: #CCC;
	height: 200px;
	margin: 20px auto 0px auto;
	-moz-border-radius: 10px;
}

.dashboard {
	padding-top: 80px;
	text-align: center;
	font-family: 'Schoolbell', sans-serif;
}

#login-main {
	width: 25%;
	height: 400px;
	background: #CCC;
	margin: 0px auto 0px auto;
	-moz-border-radius: 10px;
}

#login-title {
	font-family: "Coming Soon";
	margin-left: 20px;
}

#login-page-title {
	font-family: "Coming Soon";
	float: right;
	text-align: center;
	font-size: 2em;
	line-height: 2em;
	width: 67%;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}