body {
	background-image: url(/images/background.png);
}

.header {
	background: #CCC;
	width: 90%;
	height: 150px;
	-moz-border-radius: 10px;
	margin: 0px auto 0px auto;
}

.logo {
	float: left;
	margin-left: 20px;
	width: 30%;

}

.page-title {
	float: right;
	width: 60%;
	line-height: 70px;
	font-family: 'Coming Soon', sans-serif;
	font-size: 2em;
	text-align: center;
}

.main {
	width: 90%;
	height: 1000px;
	background: #CCC;
	-moz-border-radius: 10px;
	margin: 10px auto 0px auto;
}