- content_for :title do
  The Real Stuff Services
#container
  = render :partial => 'global/header'
  #main
    #content
      .title Ordering
      .text
        We can deliver to individual homes at this point in our business.  Free delivery with orders of $30 or more.  Otherwise, there is a $3.00 charge per delivery.  Boundaries for delivery are:
        %br
        %br
        West: 71st Ave.
        %br
        East: Highway 85 Bypass
        %br
        North: 2nd Street
        %br
        South: 49th Street
        %br
        %br
        Anything outside of these boundaries can be negotiated.  Call our number and we will get back to you within 24 hours.  970-673-7288
        
    #sidebar
      = render :partial => 'services/partials/sidebar_links'
  = render :partial => 'global/footer'
