.title Home

.sidebar-links
  .spacer
  .link= link_to 'General Info', home_general_info_url
  .spacer
  .link= link_to 'News', home_news_path
  .spacer
  .link= link_to 'Events', '#'
  .spacer
  .link= link_to 'Media', '#'
  .spacer