.title Services

.sidebar-links
  .spacer
  .link= link_to 'Catering', services_catering_url, :title => 'Catering Services'
  .spacer
  .link= link_to 'Ordering', services_ordering_url, :title => 'Ordering Services'
  .spacer