- content_for :title do
  The Real Stuff Services
#container
  = render :partial => 'global/header'
  #main
    #content
      .title Catering
      .text
        The Real Stuff can come to your event such as birthday parties, weddings, retirement parties, and any kind of celebration.
        %br
        Here are the base prices so you can decide what you'd like.
      .small-title 
        %font Sundae Bar
      .text
        %ul
          %li Minimum charge per event: $200
          %li 50 guests and under $4.00/person
          %li 51 – 100 guests $3.50/person
          %li 100 + guests $3.00/person
        Sundae Bar includes: 6 oz of ice cream per guest 2 sauces: Chocolate, Hot Fudge, Caramel, Strawberries or Raspberries. Whipped Cream and Cherries. Choice of 4 toppings: Butterfingers, Chopped Mixed Nuts or Peanuts, Gummi Bears, Snickers, M&Ms (any flavor), Reeses pieces, Oreo Cookies, Coconut, or chocolate chips.

		
      .small-title 
        %font Ice Cream Cones Only (no sundaes)
      .text
        %ul        
          %li Minimum charge per event: $200
          %li Cones include wafer cones, or homemade waffle cones
          %li Includes: 6 oz. ice cream per guest 1 topping and a choice of any cone.
          %li $3.25/person

        Please book your party at least 2 weeks in advance.  To figure out how much ice cream you will need, figure 1 gallon serves about 21 people @ 6 oz each. You may request for either Sundae Bars or Cone bars: 1 flavor of ice cream for under 50 guests 2 flavors for 50 – 100 3 flavors for 100+ guests Choose from our long list of flavors!
      
        
    #sidebar
      = render :partial => 'services/partials/sidebar_links'
  = render :partial => 'global/footer'
